{
    // Every config must have an id, and it
    // should be unique among the configs being
    // served at any one time.
    // (You'll see why later!)
    "id": "tickerTape",
 
    // Input files to be compiled...
    // ...the file and its dependencies will be
    // compiled, so you don't need to manually
    // include the dependencies.
    "inputs": "TickerTape.js",
 
    // Files or directories where the inputs'
    // dependencies can be found ("." if everything
    // is in the current directory)...
    // ...note that the Google Closure Library and
    // Templates are bundled with plovr, so you
    // don't need to point it to them!
    "paths": "."
}