<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ site.title }} : {{ site.description }}" />

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
	<link rel="alternate" type="application/rss+xml" title="RSS feed for ianreah.com" href="/rss.xml" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
	
	{% for style in page.styles %}
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/{{ style }}">
	{% endfor %}

    <title>{{ site.title }} - {{ page.title | capitalize }}</title>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-34488349-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
  </head>

  <body>
	{% assign navigable_pages = site.navigable-pages %}
	{% assign current_page = page.title %}
	{% include navigation %}

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">{{ content }}</section>
    </div>
	
	{% assign copyright_name = site.title %}
	{% assign now = site.time %}
	{% include footer %}
	
	<script type="text/javascript">
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://ianreah.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
  </body>
</html>